<!DOCTYPE html>
<html>
<head>
  <title>抓网页工具</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
  <script type="application/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="application/javascript" src="/javascripts/FileSaver.js"></script>
</head>
<body>
    <h1 class="text-center">针对aso100的页面抓取程序</h1>
    <form method="post" class="form-horizontal" role="form" action="/aso">
        <div class="form-group">
          <input name="url" class="form-control" value="" required type="text" placeholder="输入你要抓取的页面" />
          <button id="getBtn" style="margin-top: 20px" class="btn btn-primary">抓取</button>
        </div>
        <% if(data){%>
        <table id="cc" class="table table-bordered">
            <thead>
                <th colspan="4" class="text-center"><%-data.title%></th>
            </thead>
            <thead>
                <th colspan="4" class="text-center"><%-data.time%></th>
            </thead>
            <thead>
                <th><%=data.th[0]%></th>
                <th><%=data.th[1]%></th>
                <th><%=data.th[2]%></th>
                <th><%=data.th[3]%></th>
            </thead>
            <% data.td.forEach(function(item){ %>
            <tr>
                <td><%-item.num%></td>
                <td><img src="<%-item.icon%>"/></td>
                <td><%-item.name%></td>
                <td><%-item.company%></td>
            </tr>
            <% }) %>
        </table>
        <%}%>
    </form>
    <script>
        $(function(){
            var a = [];
            var blob = new Blob([document.getElementById("cc").outerHTML], {
                type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8"
            });

            saveAs(blob,  "1.xls");
        })
    </script>
</body>
</html>